*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,
body{
  color:bisque;
  background-color: #1b1b32;
  font-family: lato , sans-serif;
  margin-top: 40px;
}
.aplicaion-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/*logo de freecodecamp
.freecodecamp-logo-contenedor{
  width: 100px;
  margin: 20px;
  display: flex;
  align-items: center;

}
.frecodecamp-logo{
  width:400px;
  height:50px;
}*/

.tareas-lista-principal{
  width: 600px;
  min-height: 500px;
  background-color: rgb(147, 137, 127);
  padding: 25px;
  margin: 10px;
  justify-content:center;
  border-radius:26px ;
}